/* Color variables */
:root {
    --cyan: #058f6fff;
    --cream: #F0E7CA;
    --yellow: #EDDB98;
    --mauve: #9E6072;
    --maroon: #800933;
    --darkbrown: #3B262C;
}

body {
    background-color: var(--cream)
}
